

/*===================================================================================================*/
/* Document */
/*===================================================================================================*/

* {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    cursor: default;

    font-family: Calibri;
}

body {

    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;

    background: #333;
    color: #ddd;
    font-size: 1.7vh;

}

.hidden { display:none; }
.left { left: 0; }
.right { right: 0; }
.bottom { bottom: 0; }
.top { top: 0; }
.center-horizontal { left: 50%; transform:translate(-50%)}



/*===================================================================================================*/
/* Scrollbar */
/*===================================================================================================*/

::-webkit-scrollbar {
  width: 0.7vh;
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
  margin: 0.7vh;
}

::-webkit-scrollbar-corner {
	visibility:hidden;
}
 
::-webkit-scrollbar-thumb {
  background: #666;
  border-radius:0.5vh;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}



/*===================================================================================================*/
/* Container */
/*===================================================================================================*/

.container {
    position: relative;
    padding: 1.5vh;
    display: block;
    text-align: center;
    width: 80%;
    max-width: 60vh;
    border: 0.1vh solid #aaa;
    border-radius: 1vh;
    margin-top: 3.5vh;
    margin-bottom: 5vh;
}

.container .container-title {
    position: absolute;
    top:-3.25vh;
    left:50%;
    transform:translate(-50%);
    background-color: #292929;
    padding: 0 1.5vh;
}

.container h4 {
    margin:0;
    margin-top: 1.5vh;
}



/*===================================================================================================*/
/* Window and Tabs */
/*===================================================================================================*/

.outer {
    position: absolute; /* Allows the div to take full height of the body */
    top: 1vh; /* Margin for top */
    left: 1vh; /* Margin for left */
    right: 1vh; /* Margin for right */
    bottom: 1vh; /* Margin for bottom */
    overflow-y: scroll;
    background-color: #292929;
    border: 0.2vh solid #444;
    border-radius: 1vh;
    text-align: center;
    padding: 1vh 0;
}

.tab-switch-div {
    display: flex;                     /* Use flexbox for layout */
    justify-content: space-between;    /* Distribute tabs with space between them */
    align-items: center;               /* Vertically center the tabs */
    position: relative;
    height: 5vh;                      /* Min height */
    margin: 0 2vh;
}

.tab-switch-div > .tab-switch {
    z-index: 0;
    min-height: 0.2vh;
    padding: 0.3vh;                 /* Adjust padding */
    text-align: center;
    background-color: #292929;
    color: #ddd;
    border: 0.2vh solid #414141;
    border-radius: 1vh;
    cursor: pointer;
    flex: 1;                           /* Make each tab take equal space */
    margin: 0 0.5vh;                     /* Add spacing between tabs */
    text-align: center;                /* Ensure text is centered */
}

.tab-switch-div > .tab-switch:hover {
    background-color: #444;
}

.tab-switch-div > .tab-switch.active {
    background-color: #414141;
}

.tab-switch-div .tab-switch:first-child {
    margin-left: 1.5vh;                    /* Remove left margin for the first tab */
}

.tab-switch-div .tab-switch:last-child {
    margin-right: 1.5vh;                   /* Remove right margin for the last tab */
}



/*===================================================================================================*/
/* Table */
/*===================================================================================================*/

.table-container {
    margin: 1vh;
}

.table-header {
    display: grid;
    grid-template-columns: min-content 1fr 1fr 10vh; /* Adjusts columns for minimal space */
    gap: 1vh;
    color: white;
    padding: 0 1vh;
    border-radius: 1vh;
    font-weight: bold;
    align-items: center;
    text-align: left;
}

.table-row {
    position:relative;

    display: grid;
    grid-template-columns: min-content 1fr 1fr 10vh; /* Adjusts columns for minimal space */
    gap: 1vh;
    padding: 0.2vh 1vh;
    padding-top: 0.7vh;
    margin: 1vh 0;

    background-color: #444;
    border-radius: 0.5vh;

    align-items: center;
    text-align: left;
    font-weight: bold;
    z-index: 3;
}

.table-row img{
    height:2.4vh;
}

.table-row:hover {
    background-color: #555;
}

.table-row .action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1vh;
}

.table-row .action-buttons img {
    filter:brightness(0.87);
}

.collapsible-content {
    position:relative;
    visibility: hidden;
    opacity: 0;
    display: none;

    position: relative;
    height: 0;
    z-index: 0;

    margin: 0 0.3vh;
    padding: 1vh;
    padding-top: 1.5vh;

    background-color: #333;
    border: 0.1vh solid #444;
    border-radius: 0.5vh;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.table-row.open + .collapsible-content {
    display:block;
    height: fit-content;
    margin-bottom: -2vh;
    opacity: 1; /* Fully visible */
    visibility: visible; /* Make it interactable */
    transform: translateY(-2vh); /* Final position */
}



/*===================================================================================================*/
/* Button */
/*===================================================================================================*/

button {
    min-height: 3vh;
    min-width: 3vh;
    font-size: 1.3vh;
    font-weight: bold;
    padding: 0.5vh;
    cursor: pointer;
    border: 0.1vh solid #666;
    background-color: #ddd;
    color: #333;
    border-radius: 1vh;
    margin: 0 0.2vh;
}

button:hover {
    background-color: #eee;
}

button:active {
    background-color: #ccc;
}

/*===================================================================================================*/
/* Input Fields, Select and Textareas */
/*===================================================================================================*/

input {
    cursor: text;
}
input, select, textarea {
    -webkit-user-select: auto; /* Safari */
    -ms-user-select: auto; /* IE 10 and IE 11 */
    user-select: auto; /* Standard syntax */
    -webkit-appearance: none;
    appearance: none;
    width:90%;
    font-size: 1.7vh;
   
    background-color: #eee;
    border: 0.1vh solid #444;
    border-radius: 1vh;

    padding:0.5vh;
    margin-top: 1vh;
    margin-bottom: 2vh;

}
input:focus, select:focus, textarea:focus{
    outline: none;
}
select:hover {
    cursor: pointer;
}
select:invalid {
    color: rgb(173, 173, 173);
}

/*===================================================================================================*/
/* Obsolete */
/*===================================================================================================*/

.row {
    display: flex;
    justify-content: center;
    gap: 2vh; /* Space between columns */
    margin-bottom: 1vh; /* Space between rows */
}

.stat, .value {
    width: 5vh; /* Adjust width as needed */
    text-align: center;
    color: #999;
    font-size: 120%;
    font-weight: bold;
}

.value {
    font-size: 150%;
    color: #ddd;
}

h1,h2,h3,h4,h5,h6,p {
    text-align:center;
}

div.spacer {
    height: 1vh;
    padding: 0;
    margin: 0;

    border: none;
}

.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subtext {
    position: relative;
    margin-top: -1vh;
    margin-bottom: -1vh;

    color: #999;
}



/*===================================================================================================*/
